VITE_API_BASE_URL=
VITE_AUTH_MODE=firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=control-plagas-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=control-plagas-ai
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
